@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: black;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    color: white;
}

a:hover {
    text-decoration-line: underline;
}
