@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: black;
    font-family: Avenir, Lato, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: white;
}

a:hover {
    text-decoration-line: underline;
}