{{ define "main" }}
{{ .Content }}
<div class="grid grid-cols-12 gap-2 bg-transparent px-16 pt-5">
  <div class="col-span-3 border border-black bg-white p-2">
    <img src="https://teppyslayouts.neocities.org/03/header.gif" class="mx-auto bg-transparent p-2" width="100"
      alt="" />
    <div class="mt-2 border-b-2 border-black text-center font-thin bg-[#ffe4fe]">index</div>
    <ul>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
    </ul>
  </div>
  <div class="col-span-9 border border-black bg-white">
  </div>
</div>
{{ end }}